body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fefdff;
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
}

.form-wrapper {
    display: flex;
    align-items: center;
}

.logo {
    width: 500px;
}

.logo img {
    width: 100%;
    height: left;
}

form {
    width: 300px;
    padding: 20px;
    background: rgba(173, 136, 198, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 23px;
}

.form-group {
    margin-bottom: 15px; 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="file"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #653882;
    color: #000000;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
